.work-sans-normal {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
 /* main style */

 main{
    max-width: 1140px;
    margin: 0 auto;
 }
nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 200px;
    }
    
    .nav-title{
        font-weight: 800;
        font-size: 45px;;
    }

    .text-primary{
        color: #fd6e0a;
    }
    nav ul{
        display: flex;
        align-items: center;
    }

    nav ul li{
        list-style: none;
        margin-right: 50px;
    }
    nav li a{
        text-decoration: none;
        font-size: 20px;
    }
    .dark-2{
        color: #474747;
    }

    .btn-primary{
        background-color: #fd6e0a;
        font-weight: bold;
        font-size: 20px;
        color: white;
        padding: 18px 35px;
        border-radius: 5px;
        border: none;
    }
/* banner style */

.banner-great{
    font-size: 45px;
    font-weight: 600;
}

.banner-title{
    font-weight: bold;
    font-size: 85px;
}

.banner-dec{
    font-size: 18px;
}

.banner-profile-pic{
    width: 580px;
}

.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 230px;
}

.banner-content{
    max-width: 580px;
}

.header{
    background: url('../images/developer.png'),url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left,bottom right;
    
}

   /* about-style */

.section-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}

.section-description{
    font-size: 18px;
    color: #757575;
}

.secondary-bg{
    background-color: #fff8f3;
}

.about{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    margin-top: 130px;
}

.item-description{
    font-weight: 600;
}

.about-items{
    display: flex;
    justify-content: space-around;
}
.text-center{
    text-align: center;
}

main section{
    margin-top: 130px;
    margin-bottom: 130px;
}

/* skill-section-style */

.skills-container{
    display: flex;
    gap: 24px;
    margin-top: 130px;
}

.skill{
    padding: 33px;
    box-shadow: 0px 6px 50px 0px rgba(0,0,0,0.2);
    border-radius: 5px;
}